{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} MSA {% endblock %}</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <link
      href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"
      rel="stylesheet"
    />
    
    <link rel="shortcut icon" href="../static/imgs/login.png" type="image/x-icon">
    
  </head>
  <body >


  <nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
  <ul class="navbar-nav text-right">

  <li>
    <a href="{% url 'home' %}" class="navbar-brand"><i class="fa fa-cube"></i><b>MSA</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  </li>

	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
			<a href="{% url 'addvendor' %}" class="nav-item nav-link">Add Vendor</a>
			  <a class="nav-item nav-link" href="{% url 'revenue' %}">Revenue Calculation</a>
			  <a class="nav-item nav-link" href="{% url 'sellmedicine' %}">Sell Medicine</a>
      <div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Medicine Management</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'newmed' %}">Add New Medicine</a>
            <a class="dropdown-item" href="{% url 'newsupply' %}">New Supply</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'listOfMed'%}">List Of Medicines</a>
          </div>
			</div>
      
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Daily Actions</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'usable' %}">Usable Medicines</a>
            <a class="dropdown-item" href="{% url 'expired' %}">Expired Medicines</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'clear_exp'%}">Clear Expired List</a>
          </div>
			</div>
      <div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Weekly Actions</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'threshold' %}">Update Threshold</a>
              <a class="dropdown-item" href="{% url 'below_threshold' %}">Generate list of Below Threshold Medicines</a>
          </div>
		</div>



    
    <div>
    <ul class="navbar-nav text-right">
    <li class="nav-item active">
		<form class="navbar-form form-inline" method="GET" action={% url 'search' %}>
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search" name="search">
				<span class="input-group-addon"><i class="material-icons"></i></span>
			</div>
		</form>
  </li>

    <li class="nav-item active">

      <div  class="navbar-nav ml-auto "  >
        <div class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action" aria-expanded="false"> <i class="fa fa-user-circle-o"></i><b class="caret"></b></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="{% url 'change_password' %}" class="dropdown-item"><i class="fa fa-key"></i> Change Password</a>
            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
      </div>

      </li>
       </ul>
    </div>

</ul>


</nav>
    <br /><br /><br/>
    <div class="container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <span
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          ><span aria-hidden="true">&times;</span></span
        >
        {{ message }}
      </div>
      {% endfor %} {% endif%} 
      {% block content %}
      <style type="text/css">
        body { 
         background-image: url('../static/imgs/MSA_Background.jpg');
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        }
      </style>
      <div class="mb-3 mr-auto " style="margin: auto; position: absolute;padding: 250px;">
      <form class="form-inline my-2 my-lg-0" method="GET" action={% url 'search' %}>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for Medicine"
          aria-label="Search"
          style="width: 500px;"
          name="search"
        />
          <button class="btn btn-success my-2 my-sm-0 mr-1" type="submit">
            Search
          </button>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
</html>