{% extends 'base.html' %} 
{% block title %} MSA-Change Password{% endblock %}


{% block content %}
<h1>Change Your Password</h1>
<br/>

<form method="POST">
    {% csrf_token %}

	<label for="old_password" class="form-label">Current Password</label>
    <div class="mb-3">
      <input type="password" class="form-control" id="old_password" placeholder="Old Password" name="old_password">
    </div>
    <label for="new_password1" class="form-label">New Password</label>
    <div class="mb-3">
      <input type="password" class="form-control" id="new_password1" placeholder="New Password" name="new_password1">
    </div>
    <label for="new_password2" class="form-label">Verify New Password</label>
    <div class="mb-3">
      <input type="password" class="form-control" id="new_password2" placeholder="Verify New Password" name="new_password2">
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>


</form>

  <br/><br/><br/><br/>
{% endblock %}